<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
    </style>
</head>
<body>
<div class="w3-bar w3-blue w3-mobile">
    <div class="w3-bar-item"><p>Login</p></div>
</div>
<div class="w3-container w3-padding-16" align="center">
    <form action="/login/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Login" class="w3-button">
        {% if msg %}
            <p style="color: red">{{ msg }}</p>
        {% endif %}
    </form>

    <br>
    <form action="/register/" method="get">
        <input type="submit" value="Register" class="w3-button w3-small">
    </form>
</div>
<div class="w3-panel w3-blue w3-mobile footer"><p>©Сopyright</p></div>
</body>
</html>