<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Upload">
    {% if msg %}
        <p style="color: red">{{ msg }}</p>
    {% endif %}
</form>

<br>

<form action="/logout/" method="post">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>

<br><br>

{% if last_submits_list %}
    <h3>History:</h3>
    <table border="1">
        <tr>
            <td><strong>ID</strong></td>
            <td><strong>Antenna</strong></td>
            <td><strong>Uploaded file</strong></td>
            <td><strong>Result</strong></td>
        </tr>

        {% for submit in last_submits_list %}
            <tr>
                <td>{{ submit.id }}</td>
                <td>{{ submit.antenna }}</td>
                <td><a href="{{ submit.file.url }}">download</a></td>
                {% if submit.status.name == 'processing' %}
                    <td>{{ submit.status.description }}</td>
                {% else %}
                    <td><a href="/result/?result_id={{ submit.res }}">Result</a></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
{% endif %}

</body>
</html>