<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
    </style>
</head>
<body>
<div class="w3-bar w3-blue w3-mobile">
    <div class="w3-bar-item"><p>Home</p></div>
</div>
<div class="w3-container w3-padding-16" align="center">
    <div class="w3-panel w3-pale-tale w3-leftbar w3-rightbar w3-border-tale">
      <p class="w3-large">Требования к данным:</p>
        <ul class="w3-ul">
            <li> Длительность измерений не меньше 2 часов и не больше 24 часов. </li>
            <li> Данные должны быть записаны для статичного приёмника. </li>
            <li> Формат TPS или Rinex версии 2 или 3. </li>
        </ul>
    </div>
    <div class="w3-container w3-third"></div>
    <div class="w3-container w3-third">
        <form action="/upload/" method="post" enctype="multipart/form-data" class="w3-container">
            {% csrf_token %}
            <select class="w3-select" name="{{ form.antenna.html_name }}">
                {% for o in form.antenna.field.queryset %}
                    <option value="{{ o.pk }}">{{ o.name }}</option>
                {% endfor %}
            </select>
            <input type="file" name="file" class="w3-input">
            <input type="submit" value="Upload" class="w3-button w3-input">
            {% if msg %}
                <p style="color: red">{{ msg }}</p>
            {% endif %}
        </form>

        <br>

        <form action="/logout/" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout" class="w3-button w3-small">
        </form>
    </div>

<div class="w3-container">
    <br><br>

    {% if last_submits_list %}
        <h3>History:</h3>
        <table class="w3-table w3-striped w3-hoverable w3-bordered">
            <tr class="w3-blue">
                <td><strong>ID</strong></td>
                <td><strong>Antenna</strong></td>
                <td><strong>Uploaded file</strong></td>
                <td><strong>Result</strong></td>
            </tr>

            {% for submit in last_submits_list %}
                <tr>
                    <td>{{ submit.id }}</td>
                    <td>{{ submit.antenna }}</td>
                    <td><a href="{{ submit.file.url }}">download</a></td>
                    {% if submit.status.name == 'processing' %}
                        <td>{{ submit.status.description }}</td>
                    {% else %}
                        <td><a href="/result/?result_id={{ submit.res }}">Result</a></td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
    {% endif %}
</div>
</div>
<div class="w3-panel w3-blue w3-mobile footer"><p>©Сopyright</p></div>
</body>
</html>