<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="/upload/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Upload">
    {% if msg %}
        <p style="color: red">{{ msg }}</p>
    {% endif %}
</form>

<br>

<form action="/logout/" method="post">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>

{% if last_result %}
    <br><br>
    <p>Result: </p>
    <h3>{{ last_result }}</h3>
{% endif %}

<br><br>

{% if last_submits_list %}
    <p>Last submits:</p>

    {% for submit in last_submits_list %}
        <p>{{ submit }}</p>
    {% endfor %}

{% endif %}

</body>
</html>