## Plugin-specific files:
# IntelliJ
/out/
# mpeltonen/sbt-idea plugin
.idea_modules/
# JIRA plugin
atlassian-ide-plugin.xml
# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml crashlytics.properties crashlytics-build.properties

.idea
media
static

fabric.properties
is_production.py
venv/

## File-based project format:
*.iws

*.sqlite3
*.pyc

